#includedContent {
    min-height: 1000px;
    background-color: white;
}
body {
    overflow-y: scroll !important;
}
.fade-dialog {
    background-color: rgba(0, 0, 0, 0.6);
}

.mainPage {
    background-image: url("../img/amsterdam-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}
.background-content {
    max-width: 100%;
    overflow-x: hidden;
}

#navbar {
    background-color: #fafafa;
}
.sideImage {
    cursor: pointer;
}

#moreUsersButton {
    margin-bottom: 100px !important;
}

.adminUserTable {
    min-height: 800px !important;
}