.header-content{
    margin: 0 auto;
    max-width: 1200px;
}
.searchStyle{
    width:400px !important;
    height:38px !important;
}
.button {
    background-color: #d81e05;
    border: 2px solid white;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 28px;
    color: white;
    margin-top: 10px;
    display: inline-block;
}